#logo{
    display:flex;
    margin: 7px;
    padding: 3px;
    
}
#logo img{
    height: 60px;
    border: 3px solid black;
    
}
#navbar{
    position:sticky;
    display: flex;
    align-items: center;
    background-color: black;
    border-radius: 20px;
    
    
    
    /* width: 100%; */
    
}
#navbar::before{
    opacity: 0.6;
    
}
#navbar ul{
    display: flex;
   
}
#navbar ul li{
    list-style: none;
    font-size: 1.3rem;
    

}
#navbar ul li a{
    display: block;
    text-decoration: none;
    padding: 20px 20px;
    border-radius: 40px;
    color: white;

}
#navbar ul li a:hover{
    background-color: #9696cd;
    color: black;

}

#home{
    display: flex;
    flex-direction: column;
    height: 577px;
    padding: 3px 200px;
    justify-content: center;
    align-items: center;
    
}


#home::before{
    content: "";
    position: absolute;
    background-image: url('welcome.avif');
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size:100% 100%;
    opacity: 0.89;
    z-index: -1;
    top:0;
    left: 0;
}
.h1{
    font-size: 2.8rem;
    font-family: 'Righteous', cursive;
}

#home p{
    font-size: 1.3rem;
    color: rgb(36, 18, 234);
    font-style: bold;
    text-align: center;
    background-color: aliceblue;
    opacity: .7;
    height: 30px;
    font-family: 'Pacifico', cursive;
    
}
#services{
    margin: 34px;
    display: flex;
   }
   #services .box{
    border: 2px solid green;
   }
   #services .box img{
    height: 160px;
    display: block;
    margin:auto;
   }
   .product{
    font-size: 3.2rem;
    padding: 12px;
    font-family: 'Righteous', cursive;
    text-align: center;
    
    
   }
   .h-secondary{
    text-align: center;
    font-family: 'Righteous', cursive;
   }
.btn{
    padding: 6px 20px;
    border: 2px solid black ;
    background-color: wheat;
    font-size: 20px;
    border-radius: 10px;
}
.btn:hover{
    cursor:grab;
    background-color:black;
    color: yellow; 
    
}
.box{
    padding: 20px 10px;
    margin: 4px;
    border-radius: 20px;
    background-color: antiquewhite;
}
.box:hover{
    background-color: black;
    color: aliceblue;
    cursor: pointer;
}
.box img{
    border-radius: 10px;
}
.box p{
    text-align: center;
    font-size: 1rem;
}
/* client section */
#client-section{
    height: 462px;
    background: url('dollar.jpeg');
}
#clients{
    display: flex;
    
    align-items: center;
    justify-items: center;
    
}
#clients img{
    text-align: center;
    height: 12rem;
    margin: 17px;
    padding: 10px;
    border: 2px solid yellowgreen;
}
#clients img:hover{
    height: 230px;
    transition: all 2s;
    transform: rotate(360deg);
    margin: 17px;
    padding: 10px;
    border: 2px solid rgb(132, 53, 237);
}
#h-client{
    text-align: center;
    background-color: aliceblue;
    opacity: 0.8;
    font-size: 4rem;
    font-family: 'Pacifico', cursive;
}
#contact{
    background: url('contact2.png') center center no-repeat ;
    height:600px;

}
#contact h1{
    text-align: center;
    background-color: aliceblue;
    opacity: 0.8;
    font-size: 4rem;
    font-family: 'Pacifico', cursive;
}
#contact-box{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    font-size: 2rem;
    
}
.form-group label{
    background-color: aliceblue;
    margin: 2px;
    border: 1px solid black;
    border-radius: 10px;
    
}
.footer{
    text-align: center;
    background-color: black;
    color: bisque;
}